@import url(./places__item/places__item.css);
@import url(./places__paragraph/places__paragraph.css);

.places__tab {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: start;
}