@import url(./places__item_title/places__item_title.css);
@import url(./places__item_icon/places__item_icon.css);

.places__item {
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}