@import url(./container-header/container-header.css);

.header {
    width: 100%;
    /* max-height: 700px; */
    margin: 0px;
    background: url(../img/header-bg.jpg) center / cover no-repeat; 
}